* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(231, 236, 239);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
  }
  header {
    text-align: center;
    font-size: 25pt;
    background-color: rgb(255, 183, 3);
    position: static;
    width: 300px;
    font-weight: bolder;
    margin: auto;
    -webkit-box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
     box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  section {
    text-align: center;
  }
  #color-palete {
      display: flex;
    }
    .color {
        display: inline-block;
        border: 1px solid black;
        width: 40px;
        height: 40px;
        color: transparent;
        margin: 10px;
        border-radius: 120%;
        -webkit-box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
        -moz-box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
        box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.66);
    }
    .color:nth-child(1) {
        background-color: rgb(3, 4, 94); /* Federal blue */
      }
      
      .color:nth-child(2) {
        background-color: rgb(2, 62, 138); /* Marian blue */
      }
      
      .color:nth-child(3) {
        background-color: rgb(0, 119, 182) /* Honolulu Blue */
      }
      
      .color:nth-child(4) {
        background-color: rgb(0, 150, 199); /* Blue Green */
      }
    footer {
    position: static;
    text-align: center;
    width: 100%;
    margin-top: 250px;
    background-color: rgb(255, 183, 3);
    font-weight: 600;
    font-size: 17px;
  }

  .pixel-board {
    height: auto;
    width: auto;
    margin-left: 50%;
    margin-left: 50%;
  }
